@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}


<h1>This is Andrew Day's Code Challenge</h1>
<p>This was completed on 21/04/2022</p>
<p>His number is <a href="tel:0430744579">0430744579</a> and email is <a href="mailto:polyrhythmm@gmail.com">polyrhythmm@gmail.com</a></p>
<p>You can find his github right here: <a href="http://www.github.com/reactnetau">https://github.com/reactnetau</a></p>
<p>Check out his folio website here: <a href="https://reactnetau.github.io">https://reactnetau.github.io</a></p>