@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Name Sorter 3000</h1>
    <label for="names">Select a file:</label>
    <input  type="file" id="myfile" name="names">
    <p id="title">Your file must be a .txt. Names must be seperated by a line break.</p>
    <div id="nameArea">
    
    </div>
</div>
